.DS_Store
.git
.svn
.cvs

*.iml
*.apk
*.aab
.gradle
signing.gradle

/local.properties
*/gradle.properties
/captures
build
/*/bugly
manifest-merger-release-report.txt
import-summary.txt
output.json
output-metadata.json
*.apk.json
*.jks
*.keystore

.externalNativeBuild
.cxx

/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries
/.idea/modules.xml
/.idea/.name
/.idea/kotlinc.xml
/.idea/caches
/.idea/navEditor.xml
/.idea/deploymentTargetDropDown.xml
/.idea/misc.xml
/.idea/deploymentTargetSelector.xml
**/baselineProfiles
/.idea/markdown.xml
/.idea/AndroidProjectSystem.xml
