.DS_Store
.git
.svn
.cvs

*.iml
*.apk
.gradle
signing.gradle

/local.properties
*/gradle.properties
/captures
build
/*/bugly
manifest-merger-release-report.txt
output.json
/import-summary.txt

.externalNativeBuild

/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries
/.idea/modules.xml
/.idea/.name
/.idea/kotlinc.xml
/.idea/codeStyleSettings.xml
/.idea/caches
/maven